@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

body{
    background: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(12, 12, 12), rgb(83, 83, 83), rgb(145, 145, 145), rgb(228, 227, 227) ) ;
    font-size: 20px;
    font-family: 'Ibarra Real Nova', serif;
}
html{
    height: 105%;
}

/* header */

.header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) solid 5px;
    padding: 5px 0px;
    margin: 10px 0px;
}

h1{
    margin: 10px 0px;
    font-size: 40px;
}

/* calculator container */

#calculator{
    width:419px;
    height: auto;
    margin: 30px auto;
    padding: 10px;
    border: double 18px rgba(39, 39, 39, 0.719);
    border-radius: 20px;
    padding-top: 20px;
    /*background: radial-gradient(rgb(0, 140, 255), rgb(0, 91, 133), rgb(0, 35, 82), rgb(1, 13, 46));*/
    animation: blip 0.5s infinite;
}

/* display, clear and delete buttons */

#display{
    border: solid 4px rgba(17, 17, 17, 0.247);
    height: 45px;
    padding: 5px;
    text-align: right;
    float: none;
    margin: 0 auto;
    /*background-color: rgba(156, 156, 156, 0.589);*/
    animation: blip 1s infinite;
    border-radius: 7px;
    font-size: 30px;
}

#clear, #delete, #sClear{
    height: 50px;
    border-radius: 5px;
    background-color: rgb(122, 122, 122);
    text-align: center;
    margin: 20px 16px 0px 0px;
    color: rgb(10, 10, 10);
}
#clear:hover, #delete:hover, #sClear:hover{
    background-color: white;
    color: black;
    font-size: 33px;
    transition: all 1s;
}

#clearDelete{
    width: 100%;
}

/* number rows */

button{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 35px;
}

button:hover{
    /*background-color: white;
    color: rgb(24, 24, 24);*/
    animation: blip 1s infinite;
    transition: all .8s;
}

.operator{
    background-color: rgb(122, 122, 122);
    color: white;
}

.operator:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: all .8s;
}

#equal{
    background-color: rgb(255, 255, 255);
    color: rgb(22, 22, 22);
}

#equal:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    font-size: 30px;
}

/* squared and fraction buttons */

#squared, #squareRoot, #fraction{
    width: 30px;
    height: 30px;
    font-size: 10px;
    margin: auto;
}
@keyframes blip{
    15%{color: red; background-color: purple;}
    30%{color: orange; background-color: blue;}
    45%{color: yellow; background-color: green;}
    60%{color: green; background-color: yellow;}
    75%{color: blue; background-color: orange;}
    90%{color: purple; background-color: red;}
  }

@keyframes why{
    
}